@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'font-awesome/css/font-awesome.min.css';


.section-five-A
{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   height: fit-content;
   padding-top: 25px;
   padding-bottom: 20px;
}

.services-box {
   height: 250px;
   width: 250px;
   border-radius: 4px;
   position: relative;
   border-bottom-left-radius: 16px;
   border-bottom-right-radius: 16px;
   box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
}

.details {
   height: 53px;
   width: 250px;
   background-color: rgb(53, 54, 53);
   overflow: scroll;
   transition: 2s;
   position: absolute;
   bottom: 10px;
   left: 0px;
   /* border: 2px solid red; */
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   padding-left: 15px;
   padding-right: 15px;
}

/* .p-details {
   font-size: 14px;
} */

.h1-details {
   margin: 7px;
   color: rgb(33, 239, 171);
   font-size: 15px;
   text-align: center;
}

.services-box:hover .details {
   cursor: pointer;
   height: 200px;
   background-color: rgba(0, 0, 0, 0.7);
}

.services-box:hover p {
   color: white;
   padding-bottom: 10px;
}

.imageBox {
   height: 240px;
   width: 100%;
   border-radius: 10px;
}



